AddType image/svg+xml .svg .svgz
AddType image/svg+xml svg svgz

# HTTPS redirect (ativar depois de instalar SSL)
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
